In [1]:
from utils.dataloader import DataLoader
from utils.osmGraph import GraphFromHmlFile
import os
import pandas as pd
import io
import geopandas as gpd
from utils.apiKeys import Censusapi
import requests
import plotly.graph_objects as go
import numpy as np
import plotly

In [2]:
dataFolder = "./data"
graphFileName = "hennepinCounty.graphml"
graph = GraphFromHmlFile(os.path.join(dataFolder, graphFileName))
print(len(graph.edgesGdf))

109283

In [3]:
stationFileName = "stationData_MN.csv"
stationData = DataLoader.readCSV(os.path.join(dataFolder, stationFileName))

In [4]:
stationData.describe()

,Unnamed: 0,ZIP,Latitude,Longitude,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count
count,559.000000,559.000000,559.000000,559.000000,559.000000,559.000000,559.000000
mean,279.000000,55482.341682,45.113029,-93.351857,0.039356,1.930233,0.431127
std,161.513673,405.437592,0.795041,0.799114,0.547287,1.322726,1.535190
min,0.000000,53662.000000,43.633850,-96.767240,0.000000,0.000000,0.000000
25%,139.500000,55124.500000,44.858374,-93.446979,0.000000,1.000000,0.000000
50%,279.000000,55405.000000,44.969550,-93.275995,0.000000,2.000000,0.000000
75%,418.500000,55606.000000,45.078028,-93.088530,0.000000,2.000000,0.000000
max,558.000000,56636.000000,48.054129,-89.692650,12.000000,16.000000,12.000000

In [5]:
stationDataSelected = stationData[stationData['ZIP'] == 55455]

In [6]:
stationDataSelected.index

Int64Index([36, 52, 76, 77, 80, 81, 105, 188], dtype='int64')

In [7]:
stationPositionList = []
for i in stationDataSelected.index:
    stationPositionList.append((stationDataSelected.loc[i, 'Latitude'], stationDataSelected.loc[i, 'Longitude']))

In [8]:
stationPositionList

[(44.974036, -93.230989),
 (44.969677, -93.243328),
 (44.97145, -93.236027),
 (44.976321, -93.23395),
 (44.978214, -93.224562),
 (44.976277, -93.228946),
 (44.973875, -93.230153),
 (44.979167, -93.228946)]

In [9]:
censusFileName = "censusData_MN_Population.csv"
censusData = DataLoader.readCSV(os.path.join(dataFolder, censusFileName))

In [10]:
censusData.describe()

,Unnamed: 0,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,ALAND,AWATER,INTPTLAT,INTPTLON,B01001_001E,state,county,tract,block group,geoid
count,4706.000000,4706.0,4706.000000,4706.000000,4706.000000,4.706000e+03,4.706000e+03,4.706000e+03,4706.000000,4706.000000,4706.000000,4706.0,4706.000000,4706.000000,4706.000000,4.706000e+03
mean,2352.500000,27.0,80.320017,204739.733532,2.238207,2.708052e+11,4.382324e+07,4.026745e+06,45.232614,-93.594910,1190.005525,27.0,80.320017,204739.733532,2.238207,2.708052e+11
std,1358.649513,0.0,50.377466,307551.101353,1.143291,5.039194e+08,1.459062e+08,7.060843e+07,0.967383,1.000160,535.489228,0.0,50.377466,307551.101353,1.143291,5.039194e+08
min,0.000000,27.0,1.000000,100.000000,0.000000,2.700177e+11,0.000000e+00,0.000000e+00,43.511983,-97.029791,0.000000,27.0,1.000000,100.000000,0.000000,2.700177e+11
25%,1176.250000,27.0,41.000000,26708.750000,1.000000,2.704145e+11,6.362640e+05,0.000000e+00,44.819986,-93.830478,816.250000,27.0,41.000000,26708.750000,1.000000,2.704145e+11
50%,2352.500000,27.0,53.000000,60739.000000,2.000000,2.705313e+11,1.582888e+06,1.610050e+04,44.984657,-93.307253,1099.000000,27.0,53.000000,60739.000000,2.000000,2.705313e+11
75%,3528.750000,27.0,123.000000,130276.500000,3.000000,2.712304e+11,1.627754e+07,4.741442e+05,45.334613,-93.114646,1481.750000,27.0,123.000000,130276.500000,3.000000,2.712304e+11
max,4705.000000,27.0,173.000000,990100.000000,7.000000,2.717397e+11,3.877442e+09,4.185238e+09,48.973930,-90.016378,4484.000000,27.0,173.000000,990100.000000,7.000000,2.717397e+11

In [11]:
censusDataSelected = censusData[censusData['TRACTCE']==104901]

In [34]:
censusDataSelected

,Unnamed: 0,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,...,INTPTLAT,INTPTLON,geometry,NAME,B01001_001E,state,county,tract,block group,geoid
559,559,27,53,104901,1,270531049011,Block Group 1,G5030,S,421213,...,44.971982,-93.233441,"POLYGON ((-93.239268 44.973257, -93.2388 44.97...","Block Group 1, Census Tract 1049.01, Hennepin ...",4484,27,53,104901,1,270531049011
763,763,27,53,104901,2,270531049012,Block Group 2,G5030,S,908632,...,44.977829,-93.234230,"POLYGON ((-93.243853 44.979307999999996, -93.2...","Block Group 2, Census Tract 1049.01, Hennepin ...",1998,27,53,104901,2,270531049012

In [12]:
censusBlockList = []
for i in censusDataSelected.index:
    censusBlockList.append((censusDataSelected.loc[i, 'INTPTLAT'], censusDataSelected.loc[i, 'INTPTLON']))

In [13]:
censusBlockList

[(44.9719823, -93.2334415), (44.9778291, -93.2342296)]

In [14]:
positionDict = {"station": stationPositionList, "census block group": censusBlockList}

In [35]:
figureFolder = "./results"
figureName = "test.html"
graph.plotData(positionDict, ['green', 'red'] ,os.path.join(figureFolder,figureName))

In [16]:
stationLatList,  stationLonList = zip(*stationPositionList)
stationNodeList,  stationDisToNode = graph.getNearestNode(stationLatList, stationLonList)
stationNodeList,  stationDisToNode

([320363001,
  33822058,
  9421986672,
  33842546,
  34566808,
  261319041,
  261298089,
  34191216],
 [70.46782681917685,
  66.12555583876915,
  98.20830048064921,
  73.64302031497375,
  130.50664577950886,
  91.46854165968767,
  100.56309819822971,
  142.71768466725018])

In [17]:
censusLatList,  censusLonList = zip(*censusBlockList)
censusNodeList,  censusDisToNode = graph.getNearestNode(censusLatList, censusLonList)
censusNodeList,  censusDisToNode

([246710361, 34177358], [62.441805227521264, 73.49242906040053])

In [28]:
distanceToEachStation = {}
pathList = []
for o in censusNodeList:
    disList = []
    for d in stationNodeList:
        path = graph.shortestPath(o, d)
        pathList.append(path)
        disList.append(graph.calPathLength(path))
    distanceToEachStation[o] = disList

In [26]:
distanceToEachStation

{246710361: [1757.195,
  2446.6720000000005,
  199.637,
  1210.4830000000002,
  2013.714,
  1762.9250000000002,
  1556.426,
  1597.385],
 34177358: [843.027,
  2378.996,
  1323.3860000000002,
  263.11899999999997,
  790.1579999999999,
  539.3689999999999,
  642.258,
  373.82899999999995]}

In [33]:
pathList[0]

[246710361,
 246710356,
 1821777933,
 246710346,
 34198362,
 34665658,
 34646309,
 244113404,
 33359705,
 261298089,
 244111945,
 320363001]

In [30]:
graph.nodeList2GPSTraj(pathList[0])

[[44.9724653, -93.2338464],
 [44.972458, -93.2345925],
 [44.9724115, -93.2346998],
 [44.9723859, -93.2348491],
 [44.9723902, -93.2353495],
 [44.9723948, -93.2359434],
 [44.9724257, -93.236043],
 [44.9724811, -93.2361005],
 [44.9724811, -93.2361005],
 [44.9726636, -93.2361744],
 [44.972678, -93.2361802],
 [44.9727526, -93.2362262],
 [44.9727755, -93.2362503],
 [44.9727961, -93.2362718],
 [44.9728286, -93.2363417],
 [44.9728475, -93.2364038],
 [44.9728475, -93.2364038],
 [44.9728436, -93.2365236],
 [44.9728295, -93.2366957],
 [44.9728295, -93.2366957],
 [44.9728097, -93.2367804],
 [44.9728017, -93.236863],
 [44.9727885, -93.2377713],
 [44.9727864, -93.2379178],
 [44.9727864, -93.2379178],
 [44.9726789, -93.2379031],
 [44.9726613, -93.2379007],
 [44.9726441, -93.2378984],
 [44.9724745, -93.2378513],
 [44.9722075, -93.2377546],
 [44.9720807, -93.2376868],
 [44.9720276, -93.2376584],
 [44.9720276, -93.2376584],
 [44.971973, -93.2376373],
 [44.9719641, -93.2376339],
 [44.9719061, -93.2376116],
 [44.9717904, -93.2375082],
 [44.9716694, -93.2373727],
 [44.9715533, -93.2371828],
 [44.9714864, -93.2370386],
 [44.9714231, -93.2368449],
 [44.9713852, -93.2367085],
 [44.9713594, -93.2365688],
 [44.9713409, -93.2364501],
 [44.9713104, -93.2361335],
 [44.9713046, -93.2360547],
 [44.9712977, -93.2359535],
 [44.9712646, -93.2356299],
 [44.97125, -93.2355619],
 [44.9712305, -93.2354934],
 [44.9712181, -93.2354269],
 [44.9712141, -93.235374],
 [44.9712168, -93.2353251],
 [44.9712246, -93.2352355],
 [44.9712392, -93.2351582],
 [44.9712589, -93.2350198],
 [44.9712575, -93.2349572],
 [44.9712446, -93.2348692],
 [44.9712098, -93.2347208],
 [44.9711966, -93.2345565],
 [44.9711966, -93.2345565],
 [44.971164, -93.2344369],
 [44.9711316, -93.2343181],
 [44.9710905, -93.2341536],
 [44.9710134, -93.2338542],
 [44.9709527, -93.2336053],
 [44.9708919, -93.2333564],
 [44.9708572, -93.2331974],
 [44.9708342, -93.2330922],
 [44.9707882, -93.2328422],
 [44.9707568, -93.2325466],
 [44.9707386, -93.2322796],
 [44.9707341, -93.2319745],
 [44.9706855, -93.2316312],
 [44.9706126, -93.2312793],
 [44.9705098, -93.2308726],
 [44.9704783, -93.2307571],
 [44.9704151, -93.2305218],
 [44.9703616, -93.2303634],
 [44.9703616, -93.2303634],
 [44.9704128, -93.2303286],
 [44.9704519, -93.2303077],
 [44.9704813, -93.2302988],
 [44.9705163, -93.2302912],
 [44.9705733, -93.2302838],
 [44.9710582, -93.2302847],
 [44.9714984, -93.2302935],
 [44.9715758, -93.2302954],
 [44.9718584, -93.230293],
 [44.9721432, -93.2302917],
 [44.9722339, -93.2302932],
 [44.972297, -93.2302924],
 [44.9724794, -93.2302858],
 [44.9725356, -93.2302845],
 [44.9725356, -93.2302845],
 [44.9726179, -93.2302859],
 [44.9728549, -93.2302899],
 [44.9731869, -93.2302954],
 [44.9733015, -93.2303],
 [44.9735591, -93.2302929],
 [44.9736051, -93.230295],
 [44.9736339, -93.2302982],
 [44.9736865, -93.2303011],
 [44.9737337, -93.2303038],
 [44.9737574, -93.230305],
 [44.9738112, -93.2303097],
 [44.9738835, -93.2303148],
 [44.9740365, -93.2303218],
 [44.9741564, -93.2303205],
 [44.9745182, -93.2303166],
 [44.9746858, -93.2303184],
 [44.9747717, -93.2303193],
 [44.9747717, -93.2303193],
 [44.9747739, -93.2304756],
 [44.974778, -93.2310523],
 [44.9747785, -93.2311749],
 [44.97478, -93.2317625],
 [44.974779, -93.2318923],
 [44.974779, -93.2318923],
 [44.9740863, -93.231882]]

In [32]:
figureName = "testPath.html"
graph.plotTrajList([graph.nodeList2GPSTraj(pathList[0])], os.path.join(figureFolder,figureName))